body {
  padding: 0;
  margin: 0;
  background-image: url(https://wallpapercave.com/wp/wp11398945.jpg);
  background-size: cover;
}

#map,
body,
html {
  height: 100%;
}


.intro{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.background{
  background-color: rgb(231, 231, 231);
}

.navbar{
  padding-top: 0;
  padding-bottom: 0;
}

#body-text{
  margin-top: 5%;
  background-color: rgba(243, 205, 190,0.8);
  margin-left: 5;
  margin-right: 5;
}
#top-left{
  background-color: #ee7246;

  font-size: 30px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 1%;
  padding: 5px;

}
#top-left:hover{
  opacity: 0.7;
}
.active{
  color: black
}

.navbar{
  background-color: #f3cdbe;
}


.nav-link{
  color:rgb(58, 0, 0);
}

.nav-item{
  color:rgb(58, 0, 0);
}
.nav-item:hover{
  background-color:#ee7246;
}

h1{
  color:#bb4d24;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}

p{
  font-size: 18px;
  color: rgb(74, 74, 74);
  text-align: justify;
}
ul{
  display: table;
  margin: 0 auto;
}

.links{
  text-decoration: underline;
  color:rgb(136, 73, 246)
}

.container{
  margin-top: 50px;
  margin-bottom: 35px;
  background-color: white;
  column-gap: 40px;
}

.title{
  padding-top: 20px;
}

